

{# on ecrase la valeur d'un bloc #}
{% block content %}
  
  <div class="section">
        <h1>Formulaire de modification du mot de passe</h1>
        {% include 'includes/flash.html.twig' %}
    
        {% include 'profile/_user_form.html.twig' %}

</div>
{% endblock %} 