
{% block body %}
    {% include 'includes/flash.html.twig' %}
    <br/>
    <h6>Invitez un ami</h6>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
    
       <button class="btn btn-primary" type="submit" class="btn">Valider</button>
    {{ form_end(registrationForm) }}
{% endblock %}
